.formFondo {
    width: 60%;
    height: 45%;
    font-family: "times new roman";
    border-radius: 10px;
    border: 1px solid #7B6BAA;
    background: #FFF;

}

input {
    border-radius: 5px;
    border: none;
    background-color: #f3f3f3;
    width: 90%;
}

.grid-AgregarAlumno {
    display: grid;
    grid-template-columns: [padding] 8px [left] 1fr [right] 1fr [padding] 8px;
    grid-template-rows: [title-top] 1fr [title-1] 1fr [input-1] 1fr [title-2] 1fr [input-2] 1fr [title-3] 1fr [input-3] 1fr;
}

.title-ex,
.title-ape,
.title-cor,
.title-nom,
.title-ski,
.title-cur,
.title-sta,
.title-end{
    display: flex;
    align-items: flex-end;
}

.tituloForm {

    text-align: center;
    font-family: "Typo_Round_Bold_Demo";
    color: #7B6BAA;
    font-size: 30px;
    text-decoration: underline;
    grid-column: left/span 2;
}

.title-ex {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: title-1;
}

.input-ex {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: input-1;
}

.title-cor {
    grid-column-start: right;
    grid-row-start: title-1;
}

.input-cor {
    grid-column-start: right;
    grid-row-start: input-1;
}

.title-nom {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: title-2;
}

.input-nom {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: input-2;
}

.title-ape {
    grid-column-start: right;
    grid-row-start: title-2;
}

.input-ape {
    grid-column-start: right;
    grid-row-start: input-2;
}

.title-ski {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: title-3;
}

.input-ski {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: input-3;
}

.btn-submit {
    grid-column-start: right;
    grid-row-start: title-3;
}

.btn-salir {
    grid-column-start: right;
    grid-row-start: input-3;
}

.btn-submit,
.btn-salir {
    background-color: #6B7BAA;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin: auto;
    width: 50%;
    height: 80%;

}

.btn-submit:hover,
.btn-salir:hover {
    background-color: #7481a5;
    color: #FFF;
    font-weight: bold;
}

.grid-AgregarCertificado {
    display: grid;
    grid-template-columns: [padding] 20px [left] 1fr [right] 1fr [padding] 20px;
    grid-template-rows: [title-top] 1fr [title-1] 1fr [input-1] 1fr [title-2] 1fr [input-2] 1fr [padding] .5fr [botones] 1fr;
}

.title-cur {
    grid-column-start: right;
    grid-row-start: title-1;
}

.input-cur {
    grid-column-start: right;
    grid-row-start: input-1;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.title-sta {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: title-2;
}

.input-sta {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: input-2;
    width: 50%;
}

.title-end {
    grid-column-start: right;
    grid-row-start: title-2;
}

.input-end {
    grid-column-start: right;
    grid-row-start: input-2;
    width: 50%;
}

.btn-submitCertificado {
    margin: auto;
    grid-column-start: left;
    grid-row-start: botones;
}

.btn-salirCursos {
    margin: auto;
    grid-column-start: right;
    grid-row-start: botones;
}

.btn-submitCertificado,
.btn-salirCursos {
    background-color: #6B7BAA;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin: auto;
    width: 50%;
    height: 90%;
}

.btn-submitCertificado:hover,
.btn-salirCursos:hover {
    background-color: #7481a5;
    color: #FFF;
    font-weight: bold;
}