@font-face {
    font-family: "Typo_Round_Bold_Demo";
    src: url('Typo_Round_Bold_Demo.otf');
}

body {
    background-color: #F7F9FF;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: "Typo_Round_Bold_Demo";
    color: #7B6BAA;
    font-size: 60px;
    margin-bottom: 0%;
}

#alumno {
    font-size: 50px;
    color: black;
}

.tarjetas {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    height: 100%;
    width: 90%;

}

.tarjeta {
    width: 250px;
    height: 300px;
    background-color: #FFF;
    border-radius: 10px;
    border: #7B6BAA 5px solid;
    display: grid;
    grid-template-columns: [pad-left] 10px [left] 1fr [right]1fr [pad-right] 10px;
    grid-template-rows: [pad-top] 10px [top] 90px [bottom] 190px [pad-bottom] 10px;
    margin-bottom: 1%;
    margin-top: 1%;
}

.tarjeta:hover {
    box-shadow: 0px 0px 20px 0px #7363a4;
}

.fotoAlumno {
    grid-column: left;
    justify-content: center;
    grid-row: top;
    height: 80px;
    width: 80px;
    display: flex;
    align-self: center;
}

.tarjeta-nombre {
    grid-column: right;
    grid-row: top;
    text-align: left;
}



.tarjeta-body {
    grid-column-start: left;
    grid-column-end: pad-right;
    grid-row-start: bottom;
    grid-row-end: pad-bottom;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
}


.tarjeta-body p {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
}

.tarjeta-body p:nth-of-type(2n) {
    font-style: italic;
    font-weight: bold;
}

.btn {
    background-color: #6B7BAA;
    color: #FFFFFF;
    cursor: pointer;
    border: black;
    font-weight: bold;
    height: 50px;
    width: 60px;
    border-radius: 5px;
}

.topRightBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    background-color: #6B7BAA;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;

}

.topRightBtn:hover {
    background-color: #7e8aaa;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}