@font-face {
    font-family: "Typo_Round_Bold_Demo";
    src: url('Typo_Round_Bold_Demo.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9fa;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

#navbar {
    width: 20%;
    height: 100%;
    overflow: hidden;
    border-right: solid #7B6BAA;
    background-color: #FFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
}

li a {
    color: #000;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6B7BAA;
    color: white;
    font-weight: lighter;

}

hr {
    border: 0;
    height: 3px;
    background: #D9D9D9;
}

main {
    height: 100%;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: "Typo_Round_Bold_Demo";
    color: #7B6BAA;
    font-size: 50px;
}

#tabla {
    width: 90%;
    height: 400px;
    font-family: "times new roman";
    border-radius: 10px;
    border: 1px solid #7B6BAA;
    background: #FFF;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    text-decoration: underline;
    text-transform: capitalize;
}

tr {
    height: 60px;
}

tr.odd-row {
    background-color: #f3f3f3;
}

/*JS*/
.btn {
    background-color: #6B7BAA;
    color: #FFFFFF;
    cursor: pointer;
    border: black;
    font-weight: bold;
}

#botones {
    height: 50px;
    font-family: "times new roman";
    justify-content: center;
    display: flex;
    font-size: 40px;
}

#btnAgregarAlumno,
#btnAgregarCertificado {
    width: 200px;
    background-color: transparent;
    border: none;
}

#btnAgregarAlumno:hover,
#btnAgregarCertificado:hover {
    cursor: pointer;
    background-color: #6B7BAA;
    color: #FFF;
    font-weight: bold;
}

#vertical {
    border-left: 2px solid #6B7BAA;
    height: 40px;
    margin-top: 5px;
}

#agregarAlumno {
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.12);
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
    /* display: none; */
}
#formAgregarAlumno{
    
}